div.login {
	width : 14em;
	margin : auto;
        margin-top:25px;
	text-align : left;
	padding : 2em 1em;
	background : #EACCCC;
	color : #000;
	border : 1px solid #000;
       font-weight : bold;
}

input.submit {
	border-style : outset;
	background : #d2e0e6;
	font-weight : bold;
        font-size : 0.75em;
}

input, textarea{
	font-weight : normal;
	background : #eef3f5;
	color : #000;
	font-family : Verdana,Arial,Helvetica,sans-serif;
	font-size : 0.90em;
        border-width : 0px;
        border-color : #333;           
}

.field label {
	display : block;
	float : left;
	width : 10.5em;
}

fieldset {
/*-moz-border-radius:10px;*/
	border : 1px dotted #ccc;
	margin:10px;
}

